<%= form_for(@restaurant_restaurant) do |f| %>
  <% if @restaurant_restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_restaurant.errors.count, "error") %> prohibited this restaurant_restaurant from being saved:</h2>

      <ul>
      <% @restaurant_restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :restaurant_admin_id, :value => current_admin.id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
